**__pycache__/
**.DS_Store
**.csv
**.ico
**.idea/
**.jar
**.jpg
**.lock
**.png
**.settings/
**.sqlite3*
**.webp
**build/
**desktop.ini
**gradlew
**gradlew.bat
fa_backend/fa_backend.sock
fa_backend/static
.vscode
