
**__pycache__/
**.DS_Store
**.csv
**.ico
**.idea/
**.jar
**.jpg
**.lock
**.settings/
**.sqlite3*
**.webp
**build/
**desktop.ini
**.venv/

logs/
fa_backend/media/android/

**gradlew
**gradlew.bat
fa_backend/fa_backend.sock
fa_backend/static
# private email information
fa_backend/config/email.json

**.vscode

# Artifacts
**__pycache__/
**.ipynb_checkpoints/
**build/

# Auxiliary files
**.bak
**.tmp

# Databases
**.db*
**.sqlite*

# Documents
**.doc*
**.ppt*
**.vsd*
**.xls*

# File managers
**.DS_Store
**.Trash*
**.directory
**esktop.ini

# Images
**.3dm
**.apng
**.bmp
**.dib
**.gif
**.hdp
**.ico
**.j2k
**.jfi
**.jfif
**.jif
**.jp2
**.jpe
**.jpeg
**.jpf
**.jpg
**.jpm
**.jpx
**.jxr
**.max
**.mj2
**.mng
**.pdf
**.raw
**.svgz
**.tif
**.tiff
**.wdp
**.webp
**.xbm

