amqp==5.2.0
asgiref==3.7.2
async-timeout==4.0.3
billiard==4.2.0
black==23.7.0
celery==5.3.6
certifi==2020.6.20
cffi==1.15.1
chardet==4.0.0
click==8.1.6
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
cryptography==41.0.3
defusedxml==0.7.1
Django==4.2.3
django-templated-mail==1.1.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
djoser==2.2.0
et-xmlfile==1.1.0
httplib2==0.18.1
idna==2.10
kombu==5.3.5
mypy-extensions==1.0.0
numpy==1.26.2
oauthlib==3.2.2
openpyxl==3.1.2
packaging==23.1
pandas==2.1.4
pathspec==0.11.1
Pillow==10.0.0
platformdirs==3.9.1
plotly==5.18.0
prompt-toolkit==3.0.43
pycparser==2.21
pycurl==7.43.0.6
PyJWT==2.8.0
PySimpleSOAP==1.16.2
python-apt==2.2.1
python-dateutil==2.8.2
python-debian==0.1.39
python-debianbts==3.1.0
python3-openid==3.2.0
pytz==2023.3
redis==5.0.1
reportbug==7.10.3+deb11u1
requests==2.25.1
requests-oauthlib==1.3.1
six==1.16.0
social-auth-app-django==5.2.0
social-auth-core==4.4.2
sqlparse==0.4.4
tenacity==8.2.3
tomli==2.0.1
typing-extensions==4.7.1
tzdata==2023.3
urllib3==1.26.5
uWSGI==2.0.21
vine==5.1.0
wcwidth==0.2.13
